@model Web.ViewModels.TransportItemTypeAttributeValueEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TransportItemTypeAttributeValue</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TransportItemTypeAttributeValue.TransportItemTypeAttributeValueId)

        <div class="form-group">
            @Html.LabelFor(model => model.TransportItemTypeAttributeValue.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransportItemTypeAttributeValue.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TransportItemTypeAttributeValue.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransportItemTypeAttributeValue.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransportItemTypeAttributeValue.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TransportItemTypeAttributeValue.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransportItemTypeAttributeValue.TransportItemTypeAttributeId, "TransportItemTypeAttributeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TransportItemTypeAttributeValue.TransportItemTypeAttributeId, Model.TransportItemTypeAttributeSelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TransportItemTypeAttributeValue.TransportItemTypeAttributeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
