@model IEnumerable<Domain.RidingStyle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RidingStyleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RidingStyleComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RidingStyleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RidingStyleComment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RidingStyleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RidingStyleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RidingStyleId })
        </td>
    </tr>
}

</table>
