@model Domain.RouteComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RouteComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Route.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.RouteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteCommentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteCommentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RouteCommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
