@model IEnumerable<Domain.RouteComment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Route.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Route.RouteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RouteCommentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RouteCommentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RouteCommentId })
        </td>
    </tr>
}

</table>
