@model IEnumerable<Domain.TransportItemTypeAttribute>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransportItemType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportItemTypeAttributeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportItemTypeAttributeDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransportItemType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransportItemTypeAttributeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransportItemTypeAttributeDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransportItemTypeAttributeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransportItemTypeAttributeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransportItemTypeAttributeId })
        </td>
    </tr>
}

</table>
