@model Web.ViewModels.RouteDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Route.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.RouteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.RouteDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.RouteDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.RouteRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.RouteRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Characteristics)
        </dt>

        @foreach (var characteristic in Model.Characteristics)
        {
            <dd>
                @Html.DisplayFor(model => characteristic.RouteCharacteristic.Name)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        @foreach (var comment in Model.Comments)
        {
            <dd>
                @Html.DisplayFor(model => comment.Content)
            </dd>
        }
    </dl>
</div>
<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Route.RouteId })
    }
     |
    @Html.ActionLink("Back to List", "Index")
</p>
