@model Domain.DeckStyle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeckStyle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeckStyleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckStyleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeckStyleComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckStyleComment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeckStyleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
