@model IEnumerable<Domain.DeckStyle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeckStyleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeckStyleComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeckStyleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeckStyleComment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeckStyleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeckStyleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeckStyleId })
        </td>
    </tr>
}

</table>
