@using Microsoft.AspNet.Identity
@model IEnumerable<Domain.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventCreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventCreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDescription)
        </td>

        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            //@if (Request.IsAuthenticated && User.Identity.GetUserId<int>() == item.OwnerId)
            {
                @Html.ActionLink("Delete", "Delete", new {id = item.EventId})<div> | </div>
                @Html.ActionLink("Edit", "Edit", new {id = item.EventId})<div> | </div>
            }

            @Html.ActionLink("Details", "Details", new {id = item.EventId})
        </td>
    </tr>
}

</table>
