@model Domain.RouteAndCharacteristic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RouteAndCharacteristic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Route.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.RouteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteCharacteristic.RouteCharacteristicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteCharacteristic.RouteCharacteristicName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RouteAndCharacteristicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
